#about {
    background-color: #ffffff;
}

.container-about {
    width: 100%;
    max-width: 40rem;
    
    padding: 0rem 2rem 0rem 2rem;
}
.container-about h2{
    font-size: 16px ;
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    
}

.container-about p{
    font-size: 14px ;
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    
}

.text-about {
    width: 50rem;
}


section {
    padding: 40px 40px;
}
  
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
}
  
.section-heading {
    padding: 0rem 6rem 0rem 6rem;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.container-subheading {
    max-width: 34rem;
    width: 100%;
}

.container-subheading h3{
    color: #11978b;
    font-family: "Open Sans", sans-serif !important;
    font-weight: bold !important;
}

.container-about h2, p {
    width: 100%;
}



.section-subheading {
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    /* max-width: 80%;  */
    /* margin: auto;  */
    /* text-align: center;  */
    padding: 1rem;
}
  
@media(min-width:768px) {
    section {
        padding: 70px 0;
    }
    .section-heading {
        padding: 0rem 10rem 0rem 10rem;
    }
}


  
@media(min-width:825px) {
    .section-heading {
        padding: 0rem 12rem 0rem 12rem;
    }
    .container-subheading {
        max-width: 25rem !important;
        width: 100%;
        margin-bottom: 0rem;
    } 
    .container-subheading h3 {
        font-size: 1rem !important;
        
    } 
}

@media(min-width:889px) {
    .section-heading {
        padding: 0rem 15rem 0rem 15rem;
    }
    .container-about {
        max-width: 45rem;
    }
}

@media(min-width:984px) {
    .section-heading {
        padding: 0rem 18rem 0rem 18rem;
    }
    .container-about {
        max-width: 50rem;
    }
}
@media(min-width:1081px) {
    .section-heading {
        padding: 0rem 21rem 0rem 21rem;
    }
    .container-about {
        min-width: 100% !important;
        display: flex;
        flex-direction: row !important;
        gap: 4rem !important;
        
    }
    .gal {
        max-width: 30rem;
    }
    
}

@media(min-width:1177px) {
    .section-heading {
        padding: 0rem 24rem 0rem 24rem;
    }
    .gal {
        max-width: 30rem;
    }
    .container-about {
        gap: 6rem !important;
        
    }
}

@media(min-width:1272px) {
    .section-heading {
        padding: 0rem 27rem 0rem 27rem;
    }
}


@media(min-width:1368px) {
    .section-heading {
        padding: 0rem 30rem 0rem 30rem;
    }
}

@media (min-width: 282px) {
    
    .container-subheading h3{
       
      font-size: 0.5rem !important;
      
    }
    
    
}
@media (min-width: 407px) {
    .container-subheading {
        max-width: 20rem;
        width: 100%;
        margin-bottom: 0rem;
    } 
    .container-subheading h3 {
        font-size: .8rem !important;
        
    } 
    
}



.image-me {
    position: relative;
    width: 100%;
    max-width: 25rem !important;
    height: 100%;
    min-height: 15rem;
    padding: 0;
    background-image: url("../images/PEDROVEGA.jpg");
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 300px 300px 300px 300px;
  
}