.chat-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.chat-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.chat-box {
  position: absolute;
  bottom: 0px; /* Ajusta según el tamaño de tu logo */
  right: 0;
  width: 260px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.chat-header {
  padding: 10px;
  background-color: #00347b;
  color: #fff;
  display: flex;
  align-items: center;
}

.chat-logo {
  width: 45px;

  margin-right: 10px;
}

.chat-title {
  flex: 1;
  text-align: center;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.chat-input textarea {
  min-width: 83%;
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  resize: none;
  overflow-y: auto;
  height: 40px;
}

.chat-input button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chat-input button img {
  width: 30px;
  height: 30px;
}

.chat-button img {
  width: 100px;
  height: 100px;
}

.close-icon {
  cursor: pointer;
  font-size: 20px; /* Ajusta según el tamaño deseado */
  margin-left: 10px;
}

@media screen and (min-width: 400px) {
  .chat-box {
    width: 300px;
    height: 350px;
  }
}
@media screen and (min-width: 724px) {
  .chat-box {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 1050px) {
  .chat-box {
    width: 500px;
    height: 500px;
  }
}
