header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url("../images/laws.jpg");
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
  
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
    margin-bottom: 10px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    text-shadow:
      -.5px -.5px 0 #000,
      .3px -1px 0 #000,
      -.5px .5px 0 #000,
      .5px .5px 0 #000;
  }
  
header .intro-text .intro-heading {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-shadow:
      -.5px -.5px 0 #000,
      .3px -1px 0 #000,
      -.5px .5px 0 #000,
      .5px .5px 0 #000;
    
}

.background {
    background: #033a80  !important;
    color: #f3eeee;
  
}
.background:hover {
    background: #26316b  !important;
    color: #f3eeee !important;
  
}
header .intro-text .intro-lead-in {
    line-height: 30px; /* Ajusta este valor según tus necesidades */
}
  
header .intro-text .intro-heading {
    line-height: 60px; /* Ajusta este valor según tus necesidades */
}

/* Estilos específicos para pantallas con un ancho mínimo de 1199px */
@media screen and (min-width: 1199px) {
    .ilawyer-char {
        transition-delay: calc(var(--ilawyer-char) * 50ms); /* Retraso para cada carácter, creando el efecto de aparición secuencial */
        padding-right: 0.05em;
        vertical-align: middle; 
        font-size: 2.5rem;
    }
    .sloganH{
        font-size: 1rem;
    }
    .ilawyer-char {
        margin-right: 0;
        display: inline-block;
        overflow: visible;
        vertical-align: top;
        transform: translateY(116px); /* Posición inicial desde donde comenzarán a aparecer */
        transition: transform 900ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    }
  
    /* Estilos que se activan cuando se añade la clase .ilawyer-page-loaded */
    .ilawyer-page-loaded .ilawyer-char {
      transform: translateY(0); /* Posición final a la que llegarán los caracteres */
    }
    .ilawyer-space {
        display: inline-block;
        width: 0.20em; /* Ajusta este valor según tus necesidades */
        
    }
    
    .container-char {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}


@media(min-width:768px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 150px;
    }
  
    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }
  
    header .intro-text .intro-heading {
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 20px;
        
        
    }
    

    .intro-heading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ilawyer-char {
        font-size: 1.9rem;
    }
    .sloganH{
        font-size: 1rem;
    }
    .container-char {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    
}