.navbar-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 254, 254);
  box-shadow: 0px 6px 6px #00000029;
  z-index: 999;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 100% !important;
}

.site-navbar {
  display: flex;
  max-width: 100% !important;
  justify-content: space-between;
  align-items: center;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #000000;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}


/* nav-toggler css start */
.nav-toggler {
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
  margin-right: .7rem;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #000000;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-2px) rotate(-45deg);
}
/* nav-toggler css start */

/* Navar configuration 👆 */

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
a.site-logo {
  display: inline-block !important;
}
a.site-logo,
a.site-logo img {
  margin: 0;
  padding: 0;
}
a.site-logo img {
  vertical-align: top;
}
a.site-logo {
  padding: 0 !important;
  margin: 0 !important;
}
a.site-logo {
  display: block !important;
}

a.site-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 20rem !important;
}

.number-span {
  display: inline-block;
  transition: color 150ms ease-in-out;
  font-size: 24px;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
  color: #000000 !important;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}


.free-span {
  display: block;
  margin-bottom: 0px;
  transition: color 150ms ease-in-out;
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 13px;
  font-family: "Titillium Web", sans-serif;
  color: #11978b;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

li {
  list-style: none;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #fec52c !important;
  
}



@media screen and (max-width: 830px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 30px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 6.75rem;
    flex-direction: column;
    align-items: center;
    /* border-top: 1px solid #444; */
    background-color: rgba(0, 0, 0, 0.829);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.548);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}

@media (min-width: 1200px) {
  .navbar-custom {
    background-color: transparent !important;
    border-bottom: none;
  }
  .a-white-rule {
    color: #ffffff !important;
  }
  .span-white-rule {
    color: #fec52c !important;
  }
  .links-white-rule {
    color:#ffffff !important;
  }
  a {
    color: #dac50b !important;
    font-weight: bolder;
  }
  .site-logo img {
    width: 14rem !important;
  }
  .a-white-rule-xxx {
    color: #000000 !important;
  }
  .span-white-rule-xxx {
    color: #3aa89e !important;
  }
  .links-white-rule-xxx {
    color:#000000 !important;
  }
  .container-nav-container-ul-number {
    display: flex !important;
    flex-direction: row !important;
    align-items: end !important;
    justify-content: end !important;
  }
  .free-span {
    margin-bottom: 0.4rem;
  }
  
}


@media (min-width: 300px) {
  a {
    color: #f7f7f7 !important;
    font-weight: bolder;
  }
  .site-logo img {
    width: 7rem !important;
  }
}


@media (max-width: 300px) {
  a {
    color: #f7f7f7 !important;
    font-weight: bolder;
  }
  .site-logo img {
    width: 7rem !important;
  }
}

@media (min-width: 767px) {
  a {
    font-weight: bolder;
  }
  .site-logo img {
    width: 10rem !important;
  }
  nav .site-navbar {
    height: 1px !important;
  }
}

@media (max-width: 767px) {
  a {
    font-weight: bolder;
  }
  .site-logo img {
    max-width: 10rem !important;
  }
  .site-navbar {
    display: flex ;
    flex-direction: column;
  }
  .nav-container-ul-number {
    display: flex;
  }
  .container-nav-container-ul-number {
    display: flex;
    align-items: start !important;
    margin-left: .5rem;
  }
  .site-navbar ul {
    top: 7.17rem;
    
  }
  
}



@media (max-width: 484px) {
  .site-navbar ul {
    top: 7.99rem;
    
  }
}

@media (min-width: 830px) {
  a {
    color: #ffffff !important;
  }
}
@media (min-width: 831px) {
  a {
    color: #000000 !important;
  }
}

.navbar-scrolled {
  background-color: rgb(255, 255, 255) !important;
  transition: background-color 0.5s ease; /* Esto añade una transición suave al cambiar el color de fondo */
}

