.img-grand img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

#about {
  background: linear-gradient(0deg, #0a554e 0%, #021110 100%) 0% 0% no-repeat
    padding-box;
}

.line-p {
  background: #11978b;
  margin-top: 38px;
  margin-bottom: 19px;
  width: 100%;
  height: 3px;
  content: "";
  display: block;
}

.text-about {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
section {
  padding: 40px 40px;
}

.text-about {
  max-width: 35rem;
  font-size: 38px;
  letter-spacing: 7px;
  line-height: 41px;
  font-family: "Titillium Web", sans-serif;
  color: #fec52c;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}
.parraf-text {
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #ffff;
}

.section-text {
  margin-top: 1rem;
}
.margintop {
  margin-top: 6rem;
}

@media screen and (min-width: 642px) {
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img-grand img {
    width: 30rem;
  }
}

@media screen and (min-width: 812px) {
  .img-grand img {
    width: 30rem;
  }
}

@media screen and (min-width: 1200px) {
  .container-port {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .section-text {
    max-width: 30rem;
  }
}
@media screen and (min-width: 1300px) {
  .container-port {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
  }
  .img-grand img {
    width: 50rem;
  }
}
