.img-practice img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

#practice {
  background: #ffff;
}

.line-p-practice {
  background: #11978b;
  margin-top: 38px;
  margin-bottom: 19px;
  width: 100%;
  height: 3px;
  content: "";
  display: block;
}

.text-practice {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
section {
  padding: 40px 40px;
}

.h2-text-practice {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000 !important;
  text-decoration: none;
}

.text-practice {
  max-width: 35rem;
  font-size: 34px;
  letter-spacing: 4.76px;
  line-height: 34px;
  font-family: "Titillium Web", sans-serif;
  color: #11978b;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}
.parraf-text-practice {
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  font-style: normal;
}

.section-text-practice {
  margin-top: 1rem;
}
.margintop-practice {
  margin-top: 6rem;
}

#section-nine-title {
  max-width: max-content;
  font-size: 30px;
  border-bottom: 4px solid #11978b;
  border-bottom-color: rgb(17, 151, 139);
  letter-spacing: 4.8px;
  line-height: 31px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}

#section-nine-pa-list li {
  font-size: 16px;
  letter-spacing: 2.56px;
  line-height: 18px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

#section-nine-pa-list li a {
  text-decoration: none;
  color: #1a1a1a;
  display: block;
  padding: 19px 0;
  border-bottom: 2px solid rgba(82, 87, 90, 0.29);
  transition: color 200ms ease-in-out;
}

@media screen and (min-width: 1200px) {
  #section-nine-pa-list {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0px 37px;
  }
}

@media screen and (min-width: 768px) {
  #section-nine-pa-list {
    margin-top: 61px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 642px) {
  .section-text-practice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img-practice img {
    width: 30rem;
  }
}

@media screen and (min-width: 812px) {
  .img-practice img {
    width: 30rem;
  }
}

@media screen and (min-width: 1200px) {
  .container-practice {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .section-text-practice {
    max-width: 100%;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: start !important;
    gap: 3.5rem !important;
  }
  .section-only-text {
    max-width: 30rem;
  }
  .text-practice {
    text-align: start;
    font-size: 3.3rem;
    line-height: 3.4rem;
    max-width: 37, 5rem;
  }
  .content-img-title {
    align-items: start !important;
  }
}
@media screen and (min-width: 1300px) {
  .container-practice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
  }
  .img-practice img {
    width: 50rem;
  }
}
