

.container-carousel h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
      line-height: 3rem;
      font-family: "Titillium Web", sans-serif;
      color: #000;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
    max-width: 100%;
    display: block;
}
.container-carousel  {
    max-width: 34rem;
}

.container-carousel h3 {
    font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 100%;
  display: block;
}

.carrr {
    max-width: 50rem;
}


@media(max-width:406px) {
    .container-carousel h2 {
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
        line-height: 2.3rem;
    }
    
}


/* 
.slider {
    background: transparent;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, inherit 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
  
.slide img {
    background-color: transparent !important;
}
  




@media screen and (max-width: 1024px) {
    .slider{
      width: 768px !important;
    }
}
  
@media screen and (max-width: 768px) {
    .slider{
      width: 425px !important;
    }
}
  
@media screen and (max-width: 425px) {
    .slider{
      width: 375px !important;
    }
} */