.carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

.carousel-slide {
  position: relative;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.carousel-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.253);
  z-index: 1;
}

.star-image,
.testimonial-text,
h5 {
  position: relative;
  z-index: 2;
}

.carousel-slide p {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.5rem;
}
.carousel-slide h5 {
  display: block;
  margin-top: -5px;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 16px;
  font-family: "Titillium Web", sans-serif;
  color: #fec52c;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}
.star-image {
  height: 150px;
}

.testimonial-text {
  text-align: center;
  width: 50%;
}

#about .swiper-pagination-bullet {
  background: #ffffff !important;
}

@media (min-width: 200px) {
  .carousel-container {
    max-width: 100%;
    max-height: 100%;
  }

  .carousel-slide {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .star-image {
    height: 60px;
  }

  .testimonial-text {
    width: 80%;
    font-size: 0.6rem !important;
    margin-top: -1rem;
  }
  .carousel-slide h5 {
    font-size: 0.6rem;
  }
}

@media (min-width: 350px) {
  .carousel-container {
    max-width: 100%;
    max-height: 100%;
  }

  .carousel-slide {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .star-image {
    height: 80px;
  }

  .testimonial-text {
    width: 80%;
    font-size: 1.1rem !important;
    margin-bottom: 0rem;
  }
}

@media (min-width: 677px) {
  .carousel-container {
    max-width: 100%;
  }

  .carousel-slide {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .star-image {
    height: 100px;
  }

  .testimonial-text {
    width: 80%;
    font-size: 1.5rem !important;
    margin-bottom: 0rem;
  }
  .carousel-slide h5 {
    font-size: 1rem;
  }
}

@media (min-width: 856px) {
  .carousel-container {
    max-width: 90%;
  }

  .carousel-slide {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .star-image {
    height: 150px;
  }

  .testimonial-text {
    width: 80%;
    font-size: 1.7rem !important;
    margin-top: -1rem;
  }
  .carousel-slide h5 {
    font-size: 1rem;
  }
}

@media (min-width: 1178px) {
  .carousel-container {
    max-width: 70%;
  }

  .carousel-slide {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .testimonial-text {
    width: 80%;
    font-size: 1.9rem !important;
    margin-top: -1rem;
  }
  .carousel-slide h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1589px) {
  .carousel-container {
    max-width: 60%;
  }

  .carousel-slide {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .testimonial-text {
    width: 80%;
    font-size: 2.1rem !important;
    margin-top: -1rem;
  }
  .carousel-slide h5 {
    font-size: 1.5rem;
  }
}
